<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add
			name="MyConnection1"
			connectionString="Data Source=(local)\sqlexpress;Initial Catalog=GymDb;Integrated Security=True; Trust Server Certificate=true"/>

		<add
			name="MyConnection2"
			connectionString="Data Source=(local)\sqlexpress;Initial Catalog=GymDb;Integrated Security=True; Encrypt=false"/>
	</connectionStrings>
</configuration>